*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
nav {
    display: flex; /* us-14 */
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* overflow: hidden; */
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    border-width: 2px;
    border-color: gray;
}
nav > h2 {
    width: 20%;
    float: left;
    display: block;
    border-width: 2px;
    border-color: gray;
    padding: 0.5rem;
    margin: 1rem;
}
section > h2 {
    margin-top: 3em;
}
/* us-15 */
@media screen and (max-width: 800px) {
    nav > h2 {
        /* float: none; */
      flex-direction: column;
        /* flex-wrap: nowrap; */
        width: 100%;
    }
}
article h3 {
    margin: 3em 1em 1em 1em;
}
article h4 {
    margin: 3em 1em 0em 2em;
}
code {
    background-color: black;
    color: yellow;
    padding: 2em;
    margin: 2em;
}
article p {
    margin: 1em 1em 2em 3em;
}
article aside {
    margin: 2rem 1rem 1rem 1rem;
    font-style: italic;
}
footer {
    border-width: 1px;
    border-color: blue;
    margin: 1em;
}
footer label {
    display: block;
}