@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
nav {
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    border-width: 2px;
    border-color: gray;
}
nav > ul > li {
    display: block;
    border-width: 2px;
    border-color: gray;
    padding: 0.5rem;
    margin: 1rem;
}