*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --hdr-h: 1.6rem;
    --nav-w: 30vw;
}

html {
    transform: none !important;
    font-size: 1rem;
    margin: 0.5em 0 0.5em -1em;
    padding: 0 0 0 1em;
    width: auto;
    height: auto;
    border: none;
    color: black;
    line-height: 1rem;
    overflow: auto;
    background-color: rgba(55, 55, 55, 0.4);
}

body {
    padding: inherit;
}

:target {
    scroll-margin-top: var(--hdr-h);
}

div.col-1 {
    background-color: rgba(200, 200, 200, 1);
    height: auto;
}

div.col-1 * {
    z-index: 9;
}

.col-1 > header {
    background: rgba(200, 200, 200, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--hdr-h);
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
}

.col-1 > header > button {
    line-height: 80%;
}

#nav-bar {
    z-index: 7;
    border: medium dashed green;
    position: fixed;
    top: var(--hdr-h);
    left: 0;
    background-color: rgba(0,0,0,0);
    padding: 0 1em;
}

#nav-bar a {
    z-index: 5;
    background-color: white;
    display: inline-block;
    border: thin solid black;
    border-radius: 0.2em;
    line-height: 90%;
    font-size: 80%;
    padding: 0.2em;
}

strong {
    padding: 0;
}

div.col-2 {
    z-index: 1;
    position: absolute;
    top: var(--hdr-h);
    width: 100%;
}
div.col-2  * {
    width: inherit;
}
div.col-2 > * {
    padding: 0 0 0 1em;
}
div.col-2 > * > * {
    padding: 0 0 0 2em;
}

.main-section > header {
    font-weight: bolder;
}
