*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --hdr-h: 1.6rem;
    --nav-w: 25vw;
}

html {
    transform: none !important;
    font-size: 1rem;
    margin: 0.5em 0 0.5em -1em;
    padding: 0 0 0 1em;
    width: auto;
    height: auto;
    border: none;
    color: black;
    line-height: 1rem;
    overflow: auto;
    background-color: rgba(55, 55, 55, 0.4);
}

body {
    padding: inherit;
}

:target {
    scroll-margin-top: var(--hdr-h);
}

div.col-1 {
    width: 100%;
}

div.col-1 * {
    z-index: 9;
    height: auto;
    width: auto;
}

div.col-1 > header {
    background-color: rgba(100, 100, 110, 1);
    position: fixed;
    top: 0;
    left: 0;
    height: var(--hdr-h);
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
}

#header-brand {
    color: lightgray;
}

div.col-1 > header > button {
    background-color: green;
    color :white;
    line-height: 80%;
}

#nav-bar {
    z-index: 7;
    position: fixed;
    top: var(--hdr-h);
    left: 0;
    background-color: rgba(0,0,0,0);
    padding: 0 1em;
}

#nav-bar a {
    z-index: 5;
    background-color: white;

    display: inline-block;
    border: thin solid black;
    border-radius: 0.2em;
    line-height: 90%;
    font-size: 80%;
    padding: 0.2em;
}

strong {
    padding: 0;
}

div.col-2 {
    z-index: 1;
    position: absolute;
    top: var(--hdr-h);
    left: 0;
    width: 100%;
    margin: 0;
}
div.col-2  * {
    width: 100%;
}
div.col-2 > * {
    padding: 0 0 0 1em;
}
div.col-2 > * > * {
    padding: 0 0 0 2em;
}

div.col-2 * { 
  margin: 0;
  padding: 0 0.5em;
}
div[class|="col"] { 
  width: 100%;

}
div.col-2 p, .col-2 dd { 
  width: 100%;
  text-indent: 1em;
}
div[class|="col"] h2, h3 { 
    margin: 0.5em 0; 
    font-weight: bold;
}

div[class|="col"] h2 { 
    line-height: 1.4rem;
    font-size: 1.2rem;
}

div[class|="col"] h3 { 
    line-height: 1.2rem;
    font-size: 1.0rem;
}

.col-2 section {
    border-top: medium solid black; 
    background-color: rgb(200, 200, 200);
}
.col-2 article {
    border-top: thin solid darkgray; 
    background-color: rgb(200, 200, 200);
}

strong {
    display: inline;
}
section > h2::before {
    content: "\00a7"; /* &sect;" */
    font-size: 80%;
    vertical-align: super;
}
article > h3::before {
    content: "\2020"; /* &dagger;" */
    font-size: 80%;
    vertical-align: super;
}
dt::after {
    content: "→";
}